html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #camera, #camera--view, #camera--sensor, #camera--output{
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #camera--view, #camera--sensor, #camera--output{
      transform: scaleX(-1);
      filter: FlipH;
  }
  #shoot{
      left: calc(50% - 150px);
  }
  #submit{
    left: calc(50%);
  }
  #return{
    left: calc(50% + 150px);
  }

  #results--view{
    height: 300px;
    width: 300px;
    top: calc(50%)-150;
    right: calc(50%)-150;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    background-color: white;
    visibility: hidden;
    font-size: large;
  }

  .buttons{
    width: 120px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    bottom: 30px;
    position: fixed;    
}


.buttons-img{
  width: 75px;
  height: 75px;  
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  bottom: 30px;
  position: fixed;    
}

.taken{
        height: 100px!important;
        width: 100px!important;
        transition: all 0.5s ease-in;
        border: solid 3px white;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        top: 20px;
        right: 20px;
        z-index: 2;
    }
